<p class="u-spacer--tiny">{{info.label}} <br>
  <strong>{{info.plainValue}}</strong>
</p>
{{wu-datepicker
  placeholder=placeholder
  class="date-range__datepicker datepicker input-field--block"
  value=(mut updatedDate)
  dateFormat=dateFormat
}}
{{#wu-button-group}}
  {{#if updatedDate}}
    {{wu-button label="Pas aan" size="small" isNarrow=true command="ctrl + j" commandLocation="below" onClick=(action "insert")}}
  {{/if}}
  {{wu-button label="Negeer" size="tiny" isLink=true isDark=true isNarrow=true command="esc" commandLocation="below" onClick=null}}
{{/wu-button-group}}

{{yield}}
