<Say::Hint @type="sectioned" @size="small" as |hint|>

  <hint.header>
    {{#if this.isDateTime}}
      Pas datum en tijd aan
      {{#if this.propertyLabel}}
      	van <strong>{{this.propertyLabel}}</strong>
      {{/if}}. <br>
      huidige datum <strong>{{info.plainValue}}</strong>
    {{else}}
      Wijzig de datum
      {{#if this.propertyLabel}}
      	van <strong>{{this.propertyLabel}}</strong>
      {{/if}}. <br>
      huidige datum <strong>{{this.info.plainValue}}</strong>
    {{/if}}
  </hint.header>

  <hint.content @padded="small" as |content|>
	  {{#if this.isDateTime}}
	    <form class="form">
	      <content.date @value={{this.updatedDate}} @onChange={{action "updateDate"}} @dateFormat={{this.dateFormat}} />
	      {{!-- <content.time @hours={{this.hours}} @minutes={{this.minutes}} /> --}}
	    </form>
	  {{else}}
	    {{wu-datepicker
	        placeholder=placeholder
	        class="date-range__datepicker datepicker input-field--block"
	        value=(mut updatedDate)
	        dateFormat=dateFormat
	    }}

	    {{!-- <content.date @updatedDate={{this.updatedDate}} @dateFormat={{this.dateFormat}} /> --}}
	  {{/if}}
	</hint.content>

	<hint.footer>
	  <Say::ActionGroup>
		  <Say::Button @width="narrow" @disabled={{this.isInvalidInput}} @onClick={{action "insert"}}>Pas aan</Say::Button>
		  {{!-- <Say::Button @width="narrow" @style="alt" @onClick=null>Verwerp wijzigingen</Say::Button> --}}
		</Say::ActionGroup>
	</hint.footer>
</Say::Hint>

{{yield}}
