<Say::Hint @type="sectioned" @size="small" as |hint|>

  <hint.header>
    {{#if this.isDateTime}}
      Pas datum en tijd aan{{#if this.propertyLabel}} van <strong>{{this.propertyLabel}}</strong>{{/if}}. <br>
      {{!-- Huidige datum <strong>{{info.plainValue}}</strong>. --}}
    {{else}}
      Wijzig de datum{{#if this.propertyLabel}} van <strong>{{this.propertyLabel}}</strong>{{/if}}. <br>
      {{!-- Huidige datum <strong>{{this.info.plainValue}}</strong>. --}}
    {{/if}}
  </hint.header>

  <hint.content @padded="small" as |content|>
    <content.form @onSubmit={{action "insert"}} as |form|>
    	<div class="u-spacer--bottom--small">
	      <form.date
	        @value={{this.updatedDate}}
	        @onChange={{action "updateDate"}}
	        @dateFormat={{this.dateFormat}}
	      />
	    </div>
      {{#if this.isDateTime}}
        <form.time
          @hours={{this.hours}}
          @onChangeHours={{action "setHours"}}
          @minutes={{this.minutes}}
          @onChangeMinutes={{action "setMinutes"}}
        />
      {{/if}}
    </content.form>
  </hint.content>

  <hint.footer>
    <Say::ActionGroup>
      <Say::Button
        @width="narrow"
        @disabled={{this.isInvalidInput}}
        @onClick={{action "insert"}}
      >
        Pas aan
      </Say::Button>
      {{!-- <Say::Button @width="narrow" @style="alt" @onClick=null>Verwerp wijzigingen</Say::Button> --}}
    </Say::ActionGroup>
  </hint.footer>
</Say::Hint>

{{yield}}
